In [1]:
import json
import requests
import pymysql.cursors
from datetime import datetime
import sys
import time
import numpy as np
import pandas as pd

In [2]:
def conectaBanco():
	con = pymysql.connect(host = '127.0.0.1',
                      	      user = 'root',
                              passwd='root',
                              db = 'Prefeitura',
							  use_unicode=True,
							  charset="utf8",
                              cursorclass=pymysql.cursors.DictCursor)
	return con

In [3]:
def limpaDadosBanco(nomeTabela):
	con = conectaBanco()
	cursor = con.cursor()

	sqlquery = "SET FOREIGN_KEY_CHECKS = 0;"
	cursor.execute(sqlquery)
	con.commit()

	sqlquery = "TRUNCATE "+nomeTabela+";"
	cursor.execute(sqlquery)
	con.commit()
	print("DADOS DA TABELA "+nomeTabela+" EXCLUIDOS")
	con.close()

In [4]:
def insereCidadesBrasilBanco():
    link = "https://servicodados.ibge.gov.br/api/v1/localidades/municipios"
    con = conectaBanco()
    cidades = []
    
    r = requests.get(link)
    if r.status_code == 200:
        reddit_data = json.loads(r.content)
        cursor = con.cursor()
        cursorUpdate = con.cursor()
        # RETORNA O ID DO EMPENHO RELACIONADO AO PAGAMENTO
        for reddit in reddit_data:
            cidade = reddit['nome']
            #realiza replace para caso a cidade tenha aspa simples
#             cidade = cidade.replace("'","\\'")
#             sql = "INSERT INTO Cidade (idCidade,nome) values ("+str(reddit['id'])+",'"+str(cidade)+"')"
#             cursor = con.cursor()
#             cursor.execute(sql)
#             con.commit()
            cidades.append([cidade,reddit['id']])
    else:
        print("")
        print("= HTTP Error 503. The service is unavailable. =")

    con.close()
    return cidades

In [5]:
def recuperaDadosIGBE(codIBGE):
#     codIBGE = 314710
#     link = "https://servicodados.ibge.gov.br/api/v1/pesquisas/indicadores/29169|29170|29171|25207|29168|29765|29763|60036|60037|60045|60041|60042|5908|5913|5929|5934|5950|5955|47001|60048|30255|28141|29749|30279|60032|28242|29167|60030|60029|60031/resultados/"+str(codIBGE)
    link = "https://google.com"
    # con = conectaBanco()
    contador = 0
    metricas = []

    r = requests.get(link)
    if r.status_code == 200:
        reddit_data = json.loads(r.content)
        while True:
            try:

                #insere informação de todos os anos
                for reddit in reddit_data[contador]['res'][0]['res']:
                    # print(reddit +" "+reddit_data[0]['res'][0]['res'][reddit])
    #                 sql = "INSERT INTO HistoricoMetrica (idMetrica,codIBGE,ano,valor) values ("+ str(reddit_data[contador]['id']) +",'"+str(codIBGE)+"','"+str(reddit) +"','"+reddit_data[contador]['res'][0]['res'][reddit]+"')"
    #                 print(sql)
    #                 cursor = con.cursor()
    #                 cursor.execute(sql)
    #                 con.commit()
                    metricas.append([reddit_data[contador]['id'],codIBGE,reddit,reddit_data[contador]['res'][0]['res'][reddit]])
                contador = contador + 1

            except:
                break
    else:
        print(r.status_code)
        print("= HTTP Error 503. The service is unavailable. =")
    
    return metricas
    # con.close()

In [6]:
cidades = insereCidadesBrasilBanco()

In [7]:
cidades = np.array(cidades)

In [8]:
arroz = cidades[:,1]
arroz = arroz.tolist()
arroz.index('2801306')
# b = cidades[589:5569,1]

cidades = cidades[1764:8000,:]
# # 2108306
# len(arroz)

In [9]:
metricas = [[0,0,0,0]]

In [10]:
for cidade in cidades:
    print(cidade)
    retorno = recuperaDadosIGBE(cidade[1])
    metricas = np.concatenate((metricas,retorno),axis =0)

['Carira' '2801405']
500
= HTTP Error 503. The service is unavailable. =

ValueError: all the input arrays must have same number of dimensions

In [ ]:
dfMetricas = pd.DataFrame({'idMetrica':metricas[:,0],'codIBGE':metricas[:,1],'ano':metricas[:,2],'valor':metricas[:,3]})

In [27]:
dfMetricas

      idMetrica  codIBGE   ano    valor
0             0        0     0        0
1          5908  2512747  2005      814
2          5908  2512747  2007      677
3          5908  2512747  2009      668
4          5908  2512747  2012      625
5          5908  2512747  2015      535
6          5908  2512747  2016      508
7          5908  2512747  2017      513
8          5913  2512747  2005      140
9          5913  2512747  2007      136
10         5913  2512747  2009      154
11         5913  2512747  2012      142
12         5913  2512747  2015      135
13         5913  2512747  2016      147
14         5913  2512747  2017      129
15         5929  2512747  2005       40
16         5929  2512747  2007       42
17         5929  2512747  2009       52
18         5929  2512747  2012       36
19         5929  2512747  2015       38
20         5934  2512747  2005        9
21         5934  2512747  2007        5
22         5934  2512747  2009       12
23         5934  2512747  2012        8
24         5934  2512747  2015       11
25         5934  2512747  2016       11
26         5934  2512747  2017       11
27         5950  2512747  2005        7
28         5950  2512747  2007        8
29         5950  2512747  2009        7
...         ...      ...   ...      ...
42038     29765  2801306  2016      1.8
42039     30255  2801306  1991    0.350
42040     30255  2801306  2000    0.444
42041     30255  2801306  2010    0.615
42042     30279  2801306  2008    26.41
42043     30279  2801306  2009    29.67
42044     30279  2801306  2010    16.89
42045     30279  2801306  2011    24.31
42046     30279  2801306  2012    17.77
42047     30279  2801306  2013    15.46
42048     30279  2801306  2014       19
42049     47001  2801306  2010  8028.37
42050     47001  2801306  2011  8173.67
42051     47001  2801306  2012  8574.54
42052     47001  2801306  2013  8118.27
42053     47001  2801306  2014  9429.56
42054     47001  2801306  2015  9721.90
42055     47001  2801306  2016  9252.19
42056     60029  2801306  2010     37.1
42057     60030  2801306  2010     14.1
42058     60031  2801306  2010     12.5
42059     60032  2801306  2016      7.1
42060     60036  2801306  2014     14.8
42061     60036  2801306  2015     12.8
42062     60036  2801306  2016     13.5
42063     60037  2801306  2010     49.4
42064     60041  2801306  2015        4
42065     60042  2801306  2015      3.1
42066     60045  2801306  2010     96.3
42067     60048  2801306  2015     81.6

[42068 rows x 4 columns]